<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React</title>
    <script src="reactjs16.2.0/react.development.js"></script>
    <script src="reactjs16.2.0/react-dom.development.js"></script>
    <script src="reactjs16.2.0/babel.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">
		function Mailbox(props) {
		  var unreadMessages = props.unreadMessages;
		  return (
			<div>
			  <h1>您好!</h1>
			  {/*三目运算*/}
			  {unreadMessages.length>0?(<h2>您有{unreadMessages.length}封未读邮件.</h2>):(<h2>您没有未读邮件.</h2>)}
			</div>
		  );
		}
		//var messages=['111', '222', '333'];
		var messages=[];
		ReactDOM.render(
		  <Mailbox unreadMessages={messages} />,
		  document.getElementById('example')
		);
    </script>
  </body>
</html>