<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React</title>
    <script src="reactjs16.2.0/react.development.js"></script>
    <script src="reactjs16.2.0/react-dom.development.js"></script>
    <script src="reactjs16.2.0/babel.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">
		/*
		在典型的React数据流中，道具是父组件与子项交互的唯一方式。
		要修改一个孩子，需要用新的道具重新渲染它。
		但是，在少数情况下，需要在典型数据流之外强制修改子级
		对于refs有几个很好的用例：
		•管理焦点，文本选择或媒体播放。
		•触发必要的动画。
		•与第三方DOM库集成。
		*/
		function CustomTextInput(props){
		  //textInput必须在这里声明，以便ref回调可以引用它
		  var textInput = null;
		  function handleClick(){
			textInput.focus();
		  }
		  return(
			<div>
			  <input type="text" ref={(input)=>{textInput=input;}} />
			  <input type="button" value="输入框聚焦" onClick={handleClick}/>
			</div>
		  );  
		}
		ReactDOM.render(
		  <CustomTextInput />,
		  document.getElementById('example')
		);
    </script>
  </body>
</html>